<div class="bgColor" id="comandaConsultatie">
<div class="txt">
  <h1>Comandați o consultație gratuită</h1>
  <p>Lăsați datele de contact, vă vom suna în scurt timp</p>
  <img src="./assets/images/Arrow%201.png" alt="">
</div>
<div class="form">
  <form action="https://formspree.io/f/xgerneeo" method="post">
    <div class="row">
    <div class="input-group">
      <input type="text" id="name" placeholder="Numele*" name="name" required>
    </div>
    <div class="input-group">
      <input type="text" id="number" placeholder="Numarul de telefon*" name="number" required>
    </div>
    </div>
    <div class="row">
    <div class="input-group">
      <input type="email" id="email" placeholder="E-mail" name="email">
    </div>
    <div class="input-group">
      <input type="text" id="tipProiect" placeholder="Tipul proiectului" name="tipProiect">
    </div>
    </div>
    <div class="input-group">
      <textarea id="message" rows="2" placeholder="Comentariu" name="message"></textarea>
    </div>
    <div class="buton">
      <button type="submit">Comanda apel</button>
      <p class="f">Apăsând pe buton, sunteți de acord cu <a href="#">termenii de  confidențialitate</a></p>
    </div>
  </form>
</div>
</div>
