.main
{
  position: relative;
  width: 1920px;
  height: 143px;
  background: #232323;
}
.navbar
{
  position: absolute;
  top: 50px;
  right: 200px;
  font-size: 16px;
}
.navbar-nav > li{
  padding-left:40px;
}
nav .navbar-nav li a{
  color: white;
  text-decoration: none;
}
.dropdown
{
  margin-top: -7px;
}
.dropdown-item
{
  color: black !important;
}
.logo-img
{
  position: absolute;
  width: 43px;
  height: 63px;
  left: 380px;
  top: 50px;
}
.txt4
{
  position: absolute;
  color: white;
  left:430px;
  top: 60px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}
.txt-logo
{
  font-size: 14px;
}
