.main
{
  position: relative;
  width: 1920px;
  height: 143px;
  background: #232323;
}
.navbar
{
  position: absolute;
  top: 50px;
  right: 200px;
  font-size: 16px;
}
.navbar-nav > li{
  padding-left:40px;
}
nav .navbar-nav li a{
  color: white;
  background: none;
  text-decoration: none;
}
.dropdown
{
  margin-top: -12px;
}
.dropdown-item
{
  color: black !important;
}
.dropdown-item:hover
{
  background-color: #f2f2f2 !important;
}
.logo-img
{
  position: absolute;
  width: 43px;
  height: 63px;
  left: -690px;
  top: 5px;
}
.txt4
{
  position: absolute;
  color: white;
  left:430px;
  top: 60px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}
.txt-logo
{
  font-size: 14px;
}

@media only screen and (max-width: 1024px) {
  .main
  {
    position: relative;
    width: 1024px;
    height: 143px;
    background: #232323;
  }
  .navbar {
    position: absolute;
    top: 40px;
    right: 50px;
    font-size: 16px;
  }
  .navbar-nav > li{
    padding-left:40px;
  }
  nav .navbar-nav li a{
    color: white;
    background: none;
    text-decoration: none;
  }
  .dropdown-item {
    color: black !important;
  }
  .dropdown-item:hover
  {
    background-color: #f2f2f2 !important;
  }
  .dropdown {
    margin-top: -12px;
  }
  .logo-img {
    position: absolute;
    width: 43px;
    height: 63px;
    left: -250px;
    top: -10px;
  }
  .txt4 {
    position: absolute;
    color: white;
    left: 120px;
    top: 40px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
  }
  .txt-logo {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .main
  {
    position: relative;
    width: 768px;
    height: 80px;
    background: #232323;
  }
  .navbar {
    position: absolute;
    top: 40px;
    right: 50px;
    font-size: 16px;
  }
  .navbar-nav > li {
    padding-left: 40px;
    background: white;
  }
  nav .navbar-nav li a {
    color: black;
    background: none;
    text-decoration: none;
  }
  .navbar-header
  {
    background: black;
    color: white;
    position: absolute;
    margin-bottom: 50px;
  }
  .dropdown-item
  {
    color: black !important;
  }
  .dropdown-item:hover
  {
    background-color: #f2f2f2 !important;
  }
  .dropdown
  {
    margin-top: -12px;
  }
  .logo-img
  {
    position: absolute;
    width: 43px;
    height: 63px;
    left: -650px;
    top: -20px;
  }
  .txt4 {
    display: none;
  }
  .txt-logo {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
}

