<div class="prime d-flex justify-content-center ">
  <img class="three_n" src="./assets/images/3negri.png" alt="#">
  <div class="txt d-block">
  <p>Încă nu ați decis ce site aveți nevoie?</p>
  <p class="p2">Vă vom sfătui cu privire la orice probleme legate de crearea site-ului web. Specialistul
    <br> nostru vă va contacta în timpul orelor de lucru cât mai repede posibil - lăsați o cerere.<br> Este gratis.</p>
    <a routerLink="/contacte" routerLinkActive="active">
    <button type="button" class="btn btn-outline-dark">
      Comandă o consultație
    </button>
    </a>
  </div>
</div>

