img
{
  position: relative;
  height: 500px;
  width: 1920px;
}
.navbar
{
  position: absolute;
  top: 60px;
  right: -150px;
  font-size: 16px;
}
.navbar-nav > li{
  padding-left:40px;
}
nav .navbar-nav li a{
  color: white;
  background: none;
  text-decoration: none;
}
.dropdown-item
{
  color: black !important;
}
.dropdown
{
  margin-top: -12px;
}
.logo-img
{
  position: absolute;
  width: 43px;
  height: 63px;
  left: -700px;
  top: -5px;
}
.txt4
{
  position: absolute;
  color: white;
  left: 370px;
  top: 60px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}
.txt-logo
{
  font-size: 14px;
}
h1
{
  position: absolute;
  color: white;
  text-align: center;
  left: 800px;
  top: 200px;
  font-size: 36px;
}
.txt
{
  display: flex;
  flex-wrap: wrap;
  left: 350px;
  top: 280px;
  width: 88%;
  position: absolute;
  color: white;
  font-size: 18px;
}
@media only screen and (max-width: 1024px) {
  img {
    position: relative;
    height: 500px;
    width: 1024px;
  }
  .navbar {
    position: absolute;
    top: 40px;
    right: 50px;
    font-size: 16px;
  }
  .navbar-nav > li{
    padding-left:40px;
  }
  nav .navbar-nav li a{
    color: white;
    background: none;
    text-decoration: none;
  }
  .dropdown-item {
    color: black !important;
  }
  .dropdown {
    margin-top: -12px;
  }
  .logo-img {
    position: absolute;
    width: 43px;
    height: 63px;
    left: -250px;
    top: -10px;
  }
  .txt4 {
    position: absolute;
    color: white;
    left: 120px;
    top: 40px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
  }
  .txt-logo {
    font-size: 14px;
  }
  h1
  {
    position: absolute;
    color: white;
    text-align: center;
    left: 350px;
    top: 200px;
    font-size: 36px;
  }
  .txt
  {
    display: flex;
    flex-wrap: wrap;
    left: 100px;
    top: 280px;
    width: 88%;
    position: absolute;
    color: white;
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  img
  {
    position: relative;
    margin-top: 90px;
    height: 386px;
    width: 768px;
  }
  .navbar
  {
    position: absolute;
    top: 40px;
    right: 50px;
    font-size: 16px;
  }
  .navbar-nav > li{
    padding-left:40px;
  }
  nav .navbar-nav li a{
    color: white;
    background: none;
    text-decoration: none;
  }
  .navbar-header
  {
    background: black;
    color: black;
    position: absolute;
    margin-bottom:40px;
  }
  .dropdown-item
  {
    color: black !important;
  }
  .logo-img
  {
    position: absolute;
    width: 43px;
    height: 63px;
    left: -650px;
    top: -10px;
  }
  .txt4
  {
    display: none;
  }
  .txt-logo
  {
    display: none;
  }
  h1
  {
    position: absolute;
    color: white;
    text-align: center;
    left: 250px;
    top: 200px;
    font-size: 36px;
  }
  .txt
  {
    position: absolute;
    left:80px;
    top: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-spacing: 8px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 375px) {
}

