.img
{
  position: relative;
  height: 700px;
  width: 1920px;

}
.navbar
{
  position: absolute;
  top: 60px;
  right: -150px;
  font-size: 16px;
}
.navbar-nav > li{
  padding-left:40px;
}
nav .navbar-nav li a{
  color: white;
  text-decoration: none;
}
.dropdown-item
{
  color: black !important;
}
.dropdown
{
  margin-top: -7px;
}
.logo-img
{
  position: absolute;
  width: 43px;
  height: 63px;
  left: 300px;
  top: 50px;
}
.txt4
{
  position: absolute;
  color: white;
  left: 370px;
  top: 60px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}
.txt-logo
{
  font-size: 14px;
}
h1
{
  position: absolute;
  color: white;
  text-align: center;
  left: 800px;
  top: 200px;
  font-size: 36px;
}
.txt
{
  display: flex;
  flex-wrap: wrap;
  left: 350px;
  top: 280px;
  width: 88%;
  position: absolute;
  color: white;
  font-size: 18px;
}
