<app-navbar-portfolio></app-navbar-portfolio>
<div>
<h1 class="header">Proiecte realizate</h1>
  <section>
    <ul>
      <li class="list active" data-filter="all">Toate Proiectele</li>
      <li class="list" data-filter="website">Website-uri</li>
      <li class="list" data-filter="aplicatiiMobile">Aplicații Mobile</li>
      <li class="list" data-filter="CRM/ERP">CRM/ERP Sisteme</li>
    </ul>
  </section>
</div>
<div class="card-deck">
  <div class="card" data-item="website">
    <img class="card-img-top" src="./assets/images/Rectangle%20441.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Peecho</h5>
      <p class="card-text">
        Fusce commodo nulla in odio malesuada, a scelerisque turpis faucibus.
      </p><br>
      <p class="card-text">
        Aenean auctor porttitor magna, vitae blandit orci elementum eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p><br>
      <p class="card-text">
        Mauris volutpat arcu vel vehicula commodo.
      </p><br>
      <p class="card-text gray1">Acceseaza: <a href="#">peecho.webitfactory.io</a></p>
    </div>
  </div>
  <div class="card" data-item="aplicatiiMobile">
    <img class="card-img-top" src="./assets/images/logo_image.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">aplicatiiMobile</h5>
      <p class="card-text">
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
        qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat. Neque porro quisquam est, qui
        dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
      </p>
      <p class="card-text gray2">Acceseaza: <a href="#">denumirea.site.com</a></p>
    </div>
  </div>
  <div class="card" data-item="CRM/ERP">
    <img class="card-img-top" src="./assets/images/logo_image.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CRM/ERP</h5>
      <p class="card-text">
        Fusce commodo nulla in odio malesuada, a scelerisque turpis faucibus.
      </p><br>
      <p class="card-text">
        Aenean auctor porttitor magna, vitae blandit orci <br> elementum eu. Lorem ipsum dolor sit amet, consectetur
        <br> adipiscing elit.
      </p><br>
      <p class="card-text gray1 rd">Acceseaza: <a href="#">denumirea.site.com</a></p>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card" data-item="website">
    <img class="card-img-top" src="./assets/images/logo_image.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">website</h5>
      <p class="card-text">
        Fusce commodo nulla in odio malesuada, a scelerisque turpis faucibus.
      </p><br>
      <p class="card-text">
        Aenean auctor porttitor magna, vitae blandit orci elementum eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p><br>
      <p class="card-text">
        Mauris volutpat arcu vel vehicula commodo.
      </p><br>
      <p class="card-text gray1">Acceseaza: <a href="#">denumirea.site.com</a></p>
    </div>
  </div>
  <div class="card " data-item="aplicatiiMobile">
    <img class="card-img-top" src="./assets/images/logo_image.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">aplicatiiMobile</h5>
      <p class="card-text">
        Fusce commodo nulla in odio malesuada, a scelerisque turpis faucibus.
      </p><br>
      <p class="card-text">
        Aenean auctor porttitor magna, vitae blandit orci elementum eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p><br>
        <p class="card-text">
        Mauris volutpat arcu vel vehicula commodo.
      </p><br>
      <p class="card-text gray1">Acceseaza: <a href="#">denumirea.site.com</a></p>
    </div>
  </div>
  <div class="card" data-item="CRM/ERP" >
    <img class="card-img-top" src="./assets/images/logo_image.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">CRM/ERP</h5>
      <p class="card-text">
        Fusce commodo nulla in odio malesuada, a scelerisque turpis faucibus. <br>
      </p><br>
      <p class="card-text">
        Aenean auctor porttitor magna, vitae blandit orci elementum eu. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p><br>
      <p class="card-text">
        Mauris volutpat arcu vel vehicula commodo.
      </p> <br>
      <p class="card-text gray1">Acceseaza: <a href="#">denumirea.site.com</a></p>
    </div>
  </div>
</div>
