.nav{
  margin-top: 20px;
  margin-right: 80px;
  font-size: 40px;
}
.nav:hover{
  background-color: #FFD300;
  width: 80%;
  height: 90%;
}
.header
{
  position: relative;
  padding-top: 33%;
  padding-left: 5%;
}
section
{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 4%;
  padding-top: 1%;
  width: 100%;
}
section ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
section ul li{
  list-style: none;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 30px;
  margin-right: 1.8%;
  padding:7px 15px;
}
section ul li.active{
  background: #FFD300;
  color: black;
}
.card-deck .card.hide{
  display: none;
}
.card-deck .card.active{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 1000px;
  margin:0 50px;
  border-radius: 10px;
  border: 2px solid #C4C4C4;
}
.card-deck .card.active img.card-img-top{
  padding: 30px;
  height: 45%;
}
.card-deck .card.active .card-body
{
  margin-left: 20px;
}
.card-deck .card .card-body
{
  margin-left: 20px;
}
.card-deck
{
  margin:50px 100px;
}
.card-deck .card
{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 1050px;
  margin:0 30px;
  border-radius: 10px;
  border: 2px solid #C4C4C4;
}
.card-deck a{
  color: #3362AB;
  text-underline-offset: 5px;
}
.card-title
{
  font-size: 40px;
}
.card-text
{
  line-height: 50px;
  font-size: 30px;
  color: #8F9BB3;
}

img
{
  padding: 30px;
}

.overflow
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
h1
{
  font-weight: bolder;
  font-size: 80px;
}
.rd
{
  padding-top: 50px !important;
}
.gray1
{
  font-size: 30px !important;
  color: #BDBDBD !important;
  padding-top: 10px;
}
.gray2
{
  padding-top: 15px;
  font-size: 30px !important;
  color: #BDBDBD !important;
}

