.div{
  padding-top: 50px;
  padding-left: 300px;
}
.text
{
  font-size: 18px;
}
iframe
{
  border:none;
  overflow:hidden;
  width: 1350px;
  height:700px;
}
h5{
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 16px;
  color: #BDBDBD;
}
.div_p2
{
  margin-left: 300px;
  margin-bottom: 100px;
}
h1
{
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: 600;
}
.div1{
  background: #F5F5F5;
  border-radius: 4px;
  width: 545px;
  height: 313px;
  padding:20px;
}
.ul1
{
  padding-left: 30px;
  font-size: 18px;
}
.list
{
  padding-left: 35px;
}
.ul1 li
{
  font-size: 16px;
  line-height: 40px;
}
.div2
{
  margin-left: 20px;
  border: 2px solid #F5F5F5;
  width: 244px;
  height: 194px;
  line-height: 25px;
  border-radius: 5px;
  padding-top: 10px;

  padding-bottom: 10px;
}
.ul2
{
  list-style: none;
  font-size: 16px;
}
.ul2 li a
{
  color: #FF6F66;
  text-underline-offset: 5px;
  font-size: 14px;
}
.more
{
  padding-left: 60%;
  text-underline-offset: 5px;
  color: black;
  font-size: 12px;
}

