<app-navbar-despre-noi></app-navbar-despre-noi>
<div class="div d-flex flex-column justify-content-start position-relative">
  <p class="text">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit facilisis sapien, in consectetur quam ultricies eget.
  Maecenas eros tortor, pretium eget nisl ac, euismod accumsan nunc. Phasellus ullamcorper euismod orci ac pretium.
  Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin vulputate eros orci,
  non interdum tellus viverra vel. Vestibulum ut congue nunc.
  </p> <br>
  <p class="text">
  Maecenas consectetur augue sem, tincidunt tempor purus suscipit eu. Vivamus gravida sodales suscipit.
  Curabitur interdum ipsum ac odio elementum, eget blandit orci sollicitudin. Suspendisse rhoncus, ex a c blandit feugiat,
  arcu leo euismod leo, aliquam fermentum magna felis sed nisl. Nam et purus dui. In fermentum id eros eu maximus.
  Ut in auctor felis. Donec efficitur lorem ut malesuada dignissim. Sed gravida, felis sit amet scelerisque porta,
  massa odio auctor turpis, nec tincidunt justo mi sit amet sem. Maecenas et orci a ligula faucibus tempus id quis massa.
  </p> <br>
  <p class="text">
  Cras feugiat a purus non ultrices. Maecenas blandit eros vel dictum eleifend. Nunc ut metus sollicitudin, ultricies ex ac, fermentum est.
  </p> <br>
  <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FiShuneaMD%2Fvideos%2F793133821247574%2F&show_text=false&width=560&t=0"
          scrolling="no" frameborder="0" allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true">
  </iframe>
  <h5>Suspendisse rhoncus, ex ac blandit feugiat, arcu leo euismod leo, aliquam fermentum magna felis sed nisl.</h5>
</div>
<div class="div_p2 d-flex flex-column">
  <h1>Tehnologiile utilizate</h1>
  <div class="d-flex flex-row">
    <div class="div1">
      <ul class="ul1">
        Tehnologiile de bază
        <div class="list">
        <li>HTML, CSS, JavaScript, TypeScript</li>
        <li>PHP 7, MySQL</li>
        <li>Symfony, Laravel</li>
        <li>React (Next.js), Vue (Nuxt.js), Angular</li>
        <li>Git, Mercurial</li>
        <li>Nginx, Apache</li>
        </div>
      </ul>
    </div>
    <div class="div2">
      <ul class="ul2">
        <b>Servicii</b>
        <li><a routerLink="/portfolio" routerLinkActive="active">Crearea site-urilor web</a></li>
        <li><a routerLink="/portfolio" routerLinkActive="active">Crearea aplicațiilor mobile</a></li>
        <li><a routerLink="/portfolio" routerLinkActive="active">Branding</a></li>
        <li><a routerLink="/portfolio" routerLinkActive="active">SEO optimizare</a></li>
      </ul>
      <a routerLink="/servicii" routerLinkActive="active" class="more">vezi mai multe</a>
    </div>
  </div>
</div>
