.div{
  padding-top: 32%;
  padding-right: 200px;
  padding-left: 200px;
}
.text
{
  font-size: 35px;
}
p{
  line-height: 70px;
}
iframe
{
  border:none;
  overflow:hidden;
  width: 2500px;
  height:1300px;
}
h3{
  margin-top: 20px;
  margin-bottom: 100px;
}
h1
{
  font-size: 80px;
  margin-bottom: 50px;
}
.div1{
  background: #F5F5F5;
  border-radius: 4px;
  width: 1100px;
  height: 600px;
  padding: 30px;
  font-size: 50px;
}
.div2
{
  border: 2px solid #F5F5F5;
  width: 500px;
  height: 350px;
  font-size: 30px;
  padding: 20px;
  line-height: 50px;
  border-radius: 5px;
}
.small
{
  padding-left: 60%;
  text-underline-offset: 5px;
  color: black;

}
.ul2
{
  list-style: none;
}
.ul2 li a
{
  color: #FF6F66;
  text-underline-offset: 5px;
}
.ul1
{
  margin-left: 30px;

}
.ul1 li
{
  font-size: 40px;
  padding-left: 30px;
  line-height: 75px;

}
.p2
{
  margin-left: 50px;
}
.div_p2
{
  margin-left: 200px;
  margin-bottom: 100px;
}
