//form{
//  margin-top: 10px;
//  margin-left: 250px;
//  position: relative;
//}
//input, label{
//  font-size: 20px;
//  width:50%;
//}
.file{
  margin-top: 10px;
  margin-left: 250px;
  position: relative;
  font-size: 20px;
}
@media only screen and (max-width: 1024px)
{
  .file{
    margin-top: 10px;
    margin-left: 50px;
    position: relative;
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px)
{
  .file{
    margin-top: 10px;
    margin-left: 30px;
    position: relative;
    font-size: 20px;
  }
}
