form{
  margin-top: 10px;
  margin-left: 250px;
  position: relative;
}
input, label{
  font-size: 20px;
  width:50%;
}
.file{
  margin-top: 10px;
  margin-left: 250px;
  position: relative;
  font-size: 20px;
}
