hr{
  width: 1920px;
}
ul
{
  list-style: none;
  margin-top:50px;
  margin-left: 150px;
}
.footer
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
  width: 1920px;
}
ul li:nth-child(1){
  font-weight: 600;
  font-size: 16px;
}
.copywright
{
  color:#8C8C8C;
  font-size: 14px;
  text-align: center;
  padding-top:27px;
  padding-bottom: 27px;
  padding-left: 500px;
}
object
{
  width: 44px;
  height: 63px;
  margin-top: 50px;
}
svg
{
  width: 20px;
  height: 20px;
  margin-right: 15px;
  color: black;
}
.tel , .mail
{
  text-decoration: none;
  color: black;
  font-weight: 0;
}
span
{
  font-weight: 600;
}
.line-height
{
  line-height: 35px;
}
@media only screen and (max-width: 1024px)
{
  hr{
    width: 1024px;
  }
  ul
  {
    list-style: none;
    margin-top:40px;
    margin-left: 130px;
  }
  .footer
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
    width: 1024px;
    padding-left: 10px;
  }
  ul li:nth-child(1){
    font-weight: 600;
    font-size: 16px;
  }
  .copywright
  {
    color:#8C8C8C;
    font-size: 14px;
    text-align: center;
    padding-top:27px;
    padding-bottom: 27px;
    padding-left: 50px;
  }
  object
  {
    width: 44px;
    height: 63px;
    margin-top: 47px;
  }
  svg
  {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    color: black;
  }
  .tel , .mail
  {
    text-decoration: none;
    color: black;
    font-weight: 0;
  }
  span
  {
    font-weight: 600;
  }
  .line-height
  {
    line-height: 35px;
  }
}
@media only screen and (max-width: 768px)
{
  hr{
    width: 768px;
  }
  ul
  {
    list-style: none;
    margin-top:40px;
    margin-left: 50px;
  }
  .footer
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
    width: 768px;
    padding-left: 10px;
  }
  ul li:nth-child(1){
    font-weight: 600;
    font-size: 16px;
  }
  .copywright
  {
    color:#8C8C8C;
    font-size: 14px;
    text-align: center;
    padding-top:27px;
    padding-bottom: 27px;
    padding-left: 50px;
  }
  object
  {
    width: 44px;
    height: 63px;
    margin-top: 47px;
  }
  svg
  {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    color: black;
  }
  .tel , .mail
  {
    text-decoration: none;
    color: black;
    font-weight: 0;
  }
  span
  {
    font-weight: 600;
  }
  .line-height
  {
    line-height: 35px;
  }
}

