<ng-template  #content let-modal>
  <div>
    <h2 class="modal-title" style="font-size: 24px;font-weight: 400;">INDICA DATELE PERSONALE</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form action="https://formspree.io/f/xgerneeo" method="post">
      <div class="form-group row">
        <label for="name">Numele vostru<span class="cl">*</span></label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group row">
        <label for="number">Numarul de telefon<span class="cl">*</span></label>
        <input type="text" id="number" name="number" required>
      </div>
      <input class="send" type="submit" value="Trimite">
    </form>
  </div>
</ng-template>
<div>
<h1>Cum noi lucram?</h1>
  <div class="gridApproch">
  <div class="text_approch1">
    <p>CERERE</p>
    Clientul ne scrie un mesaj
  </div>
  <div class="img_approche1div">
    <img src="./assets/images/Ellipse%201.png" class="img_approche1"  alt="">
    <hr class="linie1">
  </div>
  <div class="steps1Div pas1">
    <div class="steps1">1</div>
  </div>

  <div class="app_gol"></div>
  <div class="app_gol"></div>
  <div class="app_gol"></div>
  <div class="app_gol"></div>

  <div class="steps1Div pas2">
    <div class="steps2">2</div>
  </div>
  <div class="img_approche2div">
    <img src="./assets/images/Ellipse%202.png" class="img_approche2"  alt="">
    <hr class="linie3">
  </div>
  <div class="text_approch2">
    <p>DISCUTIE</p>
    Discutarea detaliilor viitorului site
  </div>

  <div class="text_approch3">
    <p>APROXIMAREA PREȚULUI</p>
    Estimare preliminară a costurilor
  </div>
  <div  class="img_approche3div">
    <img src="./assets/images/Ellipse%203.png" class="img_approche3"  alt="">
    <hr class="linie4" >
  </div>
  <div class="steps1Div pas3">
    <div class="steps3">3</div>
  </div>

  <div class="app_gol"></div>
  <div class="app_gol"></div>
  <div class="app_gol"></div>
  <div class="app_gol"></div>

  <div class="steps1Div pas4">
    <div class="steps4">4</div>
  </div>
  <div class="img_approche4div">
    <img src="./assets/images/Ellipse%204.png" class="img_approche4"  alt="">
    <hr class="linie5">
  </div>
  <div class="text_approch4">
    <p>AVANSUL</p>
    Semnarea unui contract și efectuarea unei plăți în avans de către client
  </div>

  <div class="text_approch5">
    <p>ETAPA DE DESIGN</p>
    Dezvoltarea conceptului și a aspectelor de design ale paginilor
  </div>
  <div class="img_approche5div">
    <img src="./assets/images/Ellipse%205.png" class="img_approche5"  alt="">
    <hr class="linie6">
  </div>
  <div class="steps1Div pas5">
    <div class="steps5">5</div>
  </div>

  <div class="app_gol"></div>
  <div class="app_gol"></div>
  <div class="app_gol"></div>
  <div class="app_gol"></div>

  <div class="steps1Div pas6">
    <div class="steps6">6</div>
  </div>
  <div class="img_approche6div">
    <img src="./assets/images/Ellipse%206.png" class="img_approche6 img_approche6 "  alt="">
    <hr class="linie7">
  </div>
  <div class="text_approch6">
    <p>PROIECTAREA SOFT-ULUI</p>
    Proiectarea receptivă a aspectelor în baza cerințelor de către client
  </div>

  <div class="text_approch5 text_approch7">
    <p>ETAPA DE PROGRAMARE</p>
    Programarea sistemului de control și configurarea modulelor
  </div>
  <div class="img_approche7div">
    <img src="./assets/images/Ellipse%207.png" class="img_approche7"  alt="">
    <hr class="linie6">
  </div>
  <div class="steps1Div pas7">
    <div class="steps7">7</div>
  </div>

  <div class="app_gol"></div>
  <div class="app_gol"></div>
  <div class="app_gol"></div>
  <div class="app_gol"></div>

  <div class="steps1Div pas8">
    <div class="steps8">8</div>
  </div>
  <div class="img_approche8div">
    <img src="./assets/images/Ellipse%208.png" class="img_approche8"  alt="">
    <hr class="linie7">
  </div>
  <div class="text_approch6 text_approch8 ">
    <p>ETAPĂ DE TESTARE</p>
    Găzduirea soft-ului pe o platformă pentru testarea funcționalităților
  </div>

  <div class="text_approch5 text_approch9">
    <p>PLATA PENTRU PROIECT</p>
    Demonstrarea proiectului către client și plata restului sumei
  </div>
  <div class="img_approche9div">
    <img src="./assets/images/Ellipse%209.png" class="img_approche9" alt="">
    <hr class="linie6">
  </div>
  <div class="steps1Div pas9">
    <div class="steps9">9</div>
  </div>

  <div class="app_gol"></div>
  <div class="app_gol"></div>
  <div class="app_gol"></div>
  <div class="app_gol"></div>

  <div class="steps1Div pas10">
    <div class="steps10">10</div>
  </div>
  <div class="img_approche10div">
    <img src="./assets/images/Ellipse%2010.png" class="img_approche10"  alt="">
    <hr class="linie3">
  </div>
  <div class="text_approch2">
    <p>TRANSFERUL PE HOSTING</p>
    Transfer de site-uri web către domeniul principal și găzduirea clientului
  </div>

  <div class="text_approch3">
    <p>OFERIRE SITE</p>
    Re-testare și transfer al produsului către client
  </div>
  <div  class="img_approche11div">
    <img src="./assets/images/Ellipse%2011.png" class="img_approche11"  alt="">
    <hr class="linie4" >
  </div>
  <div class="steps1Div pas11">
    <div class="steps11">11</div>
  </div>

    <div class="app_gol"></div>
    <div class="app_gol"></div>
    <div class="app_gol"></div>
    <div class="app_gol"></div>


    <div class="steps_button_Div">
      <button class="steps_button btn" (click)="openVerticallyCentered({content : content})">Comanda serviciu</button>
    </div>
  </div>
  <hr class="linie2">
</div>

