<img src="../../../../assets/images/bg%20photo.png" alt="#">
<a routerLink="/" routerLinkActive="active">
  <div>
    <h4 class="txt4"><b>iShunea</b>
      <span class="txt-logo">COMPANIA IT</span>
    </h4>
  </div>
</a>
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="navbar-header">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a href="#"><img class="logo-img img-responsive" src="./assets/images/logo.svg"></a>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a routerLink="/servicii" routerLinkActive="active" id="servicii">Servicii</a>
      </li>
      <li class="nav-item">
        <a routerLink="/portfolio" routerLinkActive="active" id="portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a routerLink="/cariera" routerLinkActive="active" id="cariera">Cariera</a>
      </li>
      <li class="nav-item">
        <a routerLink="/despreNoi" routerLinkActive="active" id="despreNoi">Despre noi</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contacte" routerLinkActive="active" id="contacte">Contacte</a>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#ro" id="navbarDropdownMenuLink"
           data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false" data-reload>
          Romana
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a ngbDropdownItem class="dropdown-item" href="#en" data-reload>English</a>
          <a ngbDropdownItem class="dropdown-item" href="#ru" data-reload>Русский</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="txt">
  <p class="txt1">iShunea - este o companie creativă!</p>
  <p class="txt3">Creăm Website-uri, creăm aplicații mobile, pregătim toate materialele pentru marketing,
    implementăm CRM sisteme. Facem totul ca dumneavoastră să aveți parte de Clienți, Leaduri, Cereri!
  </p>
  <a href="#comandaConsultatie">
    <div class="btn1">
      <button type="button" class="btn btn-default"><h1>Contacteaza-ne!</h1></button>
      <div class="second_div">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/>
        </svg>
      </div>
    </div>
  </a>
</div>
