<div class="bgColor">
  <div>
    <h1 class="first">De ce noi?</h1>
    <div class="detalii col-12">
    <div class="c1 col-3">
      <div class="part d-flex flex-row">
        <i class="icon-img"><object data="assets/icons/1.svg" type="image/svg+xml"></object></i>
        <div class="d-flex flex-column">
      <h2>Proiecte complexe</h2>
      <p>Suntem gata să dezvoltăm chiar și cele mai  <br> îndrăznețe proiecte pentru afacerea dvs.</p>
      </div>
      </div>
      <div class="part d-flex flex-row">
        <i class="icon-img"><object data="assets/icons/4.svg" type="image/svg+xml"></object></i>
      <div class=" d-flex flex-column">
      <h2>Preturi reale</h2>
      <p>Nu înfrumusețăm prețurile, veți ști exact <br> pentru ce ați dat banii</p>
      </div>
      </div>
    </div>
  <div class="c2 col-3">
    <div class="part d-flex flex-row">
      <i class="icon-img"><object data="assets/icons/2.svg" type="image/svg+xml"></object></i>
      <div class="d-flex flex-column">
      <h2>Echipă experimentată</h2>
      <p>La îndemâna dumneavoastră este o echipă <br>  de profesionaliști</p>
      </div>
    </div>
    <div class="part d-flex flex-row">
      <i class="icon-img"><object data="assets/icons/5.svg" type="image/svg+xml"></object></i>
      <div class="d-flex flex-column">
      <h2>Respectăm termenii</h2>
      <p>Un sistem de lucru bine gândit ne permite să <br>respectăm cu strictețe termenii </p>
      </div>
    </div>
  </div>
  <div class="c3 col-3">
    <div class="part d-flex flex-row">
      <i class="icon-img"><object data="assets/icons/3.svg" type="image/svg+xml"></object></i>
      <div class="d-flex flex-column">
      <h2>Abordare individuală</h2>
      <p>Licențe, dezvoltare, suport și găzduire - <br> primiți totul  într-un singur loc</p>
      </div>
    </div>
    <div class="part d-flex flex-row">
      <i class="icon-img"><object data="assets/icons/6.svg" type="image/svg+xml"></object></i>
      <div class="d-flex flex-column">
      <h2>Lucru conform contractului</h2>
      <p>Oferim toate documentele necesare <br> persoanelor juridice</p>
      </div>
    </div>
  </div>
</div>
  </div>
<div>
  <h1 class="second">Tipuri de proiecte</h1>
  <div class="d-flex flex-row cards">
  <div class="card" style="width: 315px; height: 368px">
    <img class="card-img-top" src="./assets/images/Rectangle%20442.png" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title fw-bold">Pagina landing</h2>
      <p class="card-text">Termen: de la 15 zile lucrătoare</p>
      <h3 class="fw-bold card-text">De la 6000 lei</h3>
      <a href="#" class="btn btn-primary">Vezi mai multe</a>
    </div>
  </div>
  <div class="card" style="width: 315px; height: 368px">
    <img class="card-img-top" src="./assets/images/Rectangle%20443.png" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title fw-bold">Site corporativ</h2>
      <p class="card-text">Termen: de la 20 zile lucrătoare</p>
      <h3 class="fw-bold card-text">De la 9000 lei</h3>
      <a href="#" class="btn btn-primary" >Vezi mai multe</a>
    </div>
  </div>
  <div class="card" style="width: 315px; height: 368px">
    <img class="card-img-top" src="./assets/images/Rectangle%20443%20(1).png" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title fw-bold">Internet magazin</h2>
      <p class="card-text">Termen: de la 25 zile lucrătoare</p>
      <h3 class="card-text fw-bold">De la 12 000 lei</h3>
      <a href="#" class="btn btn-primary" >Vezi mai multe</a>
    </div>
  </div>
    <div class="card" style="width: 315px; height: 368px">
      <img class="card-img-top" src="./assets/images/Rectangle%20442%20(1).png" alt="Card image cap">
      <div class="card-body">
        <h2 class="fw-bolder card-title">Aplicatii mobile</h2>
        <p class="card-text">Termen: de la 30 zile lucrătoare</p>
        <h3 class="fw-bold card-text">De la 20 000 lei</h3>
        <a href="#" class="btn btn-primary">Vezi mai multe</a>
      </div>
    </div>
  </div>
</div>
</div>
