.bgColor
{
  background:#F5F5F5;
}
//de ce noi?
.first
{
  position: relative;
  text-align: center;
  font-weight: 600;
  font-size: 80px;
  color: #3C3C3C;
  padding-top: 100px;
}

.detalii
{
  display: flex;
  flex-direction: row;
  color: black;
  font-size: 30px;
  margin-left: 80px;

}
.c1, .c2, .c3
{
  display: flex;
  flex-direction: column;
  margin: 20px 75px 0 75px;
  position: relative;
}
.part p
{
  color: #BDBDBD;
  font-size: 34px;
  padding-left: 20px;
  padding-bottom: 100px;
}
.part h2
{
  font-size: 50px;
  padding: 20px;
  margin-top: 30px;
}
.icon-img
{
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 150px;
  align-content: center;
  margin: 40px 30px 30px 24px;
}
.part
{
  position: relative;
  border: 1px solid #E1E1E1;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  width: 120%;
  height: 32%;
  box-shadow: 10px 10px 0 0 #E1E1E1;
}
.part:hover
{
  content: "";
  display: inline-block;
  box-shadow: 10px 10px 0 0 #FFD300;
  border-radius: 10px;
}

//tipuri proiecte
.second
{
  text-align: center;
  font-weight: bolder;
  font-size: 70px;
  padding-bottom: 40px;
}
.card-title
{
  font-size: 40px;
  font-weight: bold;
}
h3
{
  font-size: 35px;
}
.card-body
{
font-size: 30px;
}
a
{
  margin-left: 50px;
  background-color: #F5F5F5;
  font-size: 40px;
  color: black;
  font-weight: bold;
}
a:hover
{
  background-color: #FFD300;
}

.card
{
  border: 2px solid #CCCCCC;
  margin: 10px 20px 150px 30px;
  border-radius: 6px;
}
.btn
{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  width: 85%;
  height: 25%;
  border-radius: 6px;
  font-size: 35px;
  margin: 20px 35px;
}
.card-title, .card-text
{
  display: flex;
  justify-content: flex-start;
  padding-left: 35px;
}
.card-body p{
 color:  #8F9BB3;
}
//ng-template css
.modal-title
{
  margin-top: 50px;
  margin-left: 100px;
}
.close
{
  font-size: 50px;
  color: black !important;
  margin-top: -8%;
  margin-left: 40%;
}
form{
  width: 100%;
  height: 100%;
}
input
{
  width: 500px;
  height: 80px;
  border: 1px solid black;
  color: black !important;
  background: transparent;
  font-size: 30px;
  border-radius: 5px;
  margin-left: 100px;
}
label
{
  width:300px;
  height: 150px;
  font-size: 30px;
  margin-left: 50px;
  margin-top: 10px;
}
.send
{
  padding: 10px 0;
  color: black;
  outline: none;
  background: white;
  border: 1px solid gray;
  width: 20%;
  cursor: pointer;
  font-size: 30px;
  border-radius: 5px;
  margin-left: 300px;
  margin-bottom: 10px;
  margin-top: -100px;
}
.cl
{
  color: red;
  padding-left: 10px;
}
