h1
{
  position: relative;
  font-size: 36px;
  text-align: center;
  padding: 50px 900px 30px 1050px;
}
.items
{
  margin-left: 350px;
  margin-bottom: 150px;
}
.item_SEO{
  width: 660px;
  height: 150px;
  margin: 10px;
}
.item1
{
  width: 315px;
  height: 330px;
  margin: 10px;
}
.item2
{
  width: 660px;
  height: 330px;
  margin: 10px;
}
.item3
 {
  width: 320px;
  height: 155px;
  margin: 10px;
 }
.item4
{
  width: 323px;
  height: 158px;
  margin: 10px;
}

img:hover
{
  filter: brightness(50%);
  transition: 0.5s;
}
.close
{
  font-size: 40px;
  color: black !important;
  margin-top:-50px;
}
.modal-body
{
  font-weight: 400;
  margin-left: 70px;
  margin-right: 100px;
  margin-bottom: 20px;
}
.modal-body h5
{
  font-size: 18px;
  color: #C8C8C8;
}
.modal-body h2
{
  font-size: 16px;
}

