h1
{
  font-size: 80px;
  padding-top: 400px;
  padding-bottom: 50px;
}
.items
{
  margin-left: 200px;
  margin-bottom: 150px;
}
.item3
{
  width: 635px;
  height: 260px;
  margin: 20px;
}
.item_SEO{
  width: 1300px;
  height: 300px;
  margin: 25px;
}
.item2
{
  width: 1300px;
  height: 600px;
  margin: 25px;
}
.item2_2
{
  width: 1310px;
  height: 600px;
  margin: 25px;
}
.item_site
{
  width: 1340px;
  height: 615px;
  margin: 20px;
}

.item1
{
  width: 600px;
  height: 615px;
  margin: 20px;
}
.item4 {
  width: 635px;
  height: 287px;
  margin: 20px;
}
img:hover
{
filter: brightness(50%);
  transition: 0.5s;
}
.close
{
  font-size: 80px;
  color: black !important;
  margin-top: -15%;
}
.modal-body
{
  font-weight: bolder;
  margin-left:100px;
  margin-right: 100px;
  margin-bottom: 20px;
}
