img
{
  position: relative;
  width: 1920px;
  height: 500px;
}
.navbar
{
  position: absolute;
  top: 60px;
  right: -150px;
  font-size: 16px;
}
.navbar-nav > li{
  padding-left:40px;
}
nav .navbar-nav li a{
  color: white;
  background: none;
  text-decoration: none;
}
.dropdown
{
  margin-top: -12px;
}
.dropdown-item
{
  color: black !important;
}
.dropdown-item:hover
{
  background-color: #f2f2f2 !important;
}
.logo-img
{
  position: absolute;
  width: 43px;
  height: 63px;
  left: -700px;
  top: -5px;
}
.txt4
{
  position: absolute;
  color: white;
  left: 370px;
  top: 60px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}
.txt-logo
{
  font-size: 14px;
}
h1
{
  position: absolute;
  color: white;
  text-align: center;
  left: 861px;
  top: 229px;
  font-size: 36px;
}

@media only screen and (max-width: 1024px) {
  img
  {
    position: relative;
    width: 1024px;
    height: 500px;
  }
  .navbar
  {
    position: absolute;
    top: 40px;
    right: 50px;
    font-size: 16px;
  }
  .navbar-nav > li{
    padding-left:40px;
  }
  nav .navbar-nav li a{
    color: white;
    background: none;
    text-decoration: none;
  }
  .dropdown-item
  {
    color: black !important;
  }
  .dropdown-item:hover
  {
    background-color: #f2f2f2 !important;
  }
  .dropdown
  {
    margin-top: -12px;
  }
  .logo-img
  {
    position: absolute;
    width: 43px;
    height: 63px;
    left: -250px;
    top: -10px;
  }
  .txt4
  {
    position: absolute;
    color: white;
    left: 120px;
    top: 40px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
  }
  .txt-logo
  {
    font-size: 14px;
  }
  h1
  {
    position: absolute;
    color: white;
    text-align: center;
    left: 420px;
    top: 229px;
    font-size: 36px;
  }
}

@media only screen and (max-width: 768px)
{
  img
  {
    position: relative;
    margin-top: 90px;
    width: 768px;
    height: 386px;
  }
  .navbar
  {
    position: absolute;
    top: 40px;
    right: 50px;
    font-size: 16px;
  }
  .navbar-nav > li{
    padding-left:30px;
    background: white;
  }
  nav .navbar-nav li a{
    color: black;
    background: none;
    text-decoration: none;
  }
  .dropdown
  {
    margin-top: -12px;
  }
  .navbar-header
  {
    background: black;
    color: black;
    position: absolute;
    margin-bottom: 50px;
  }
  .dropdown-item
  {
    color: black !important;
  }
  .dropdown-item:hover
  {
    background-color: #f2f2f2 !important;
  }
  .logo-img
  {
    position: absolute;
    width: 43px;
    height: 63px;
    left: -690px;
    top: -110px;
  }
  .txt4
  {
    display: none;
  }
  .txt-logo
  {
    display: none;
  }
  h1
  {
    position: absolute;
    color: white;
    text-align: center;
    left: 285px;
    top: 229px;
    font-size: 36px;
  }
}
@media only screen and (max-width: 375px) {
    img
    {
      position: relative;
      margin-top: 90px;
      height: 200px;
      width: 375px;
    }
    .navbar
    {
      position: absolute;
      top: 40px;
      right: 50px;
      font-size: 16px;
    }
    .navbar-nav > li{
      margin-left:40px;
      padding-top: 5px;
      background: white;
    }
    nav .navbar-nav li a{
      color: black;
      background: none;
      text-decoration: none;
    }
    .navbar-header
    {
      background: black;
      color: black;
      position: absolute;
      margin-bottom:40px;
    }
    .dropdown-item
    {
      color: black !important;
    }
  .dropdown-item:hover
  {
    background-color: #f2f2f2 !important;
  }
    .logo-img
    {
      position: absolute;
      width: 43px;
      height: 63px;
      left: -650px;
      top: -110px;
    }
    .txt4
    {
      display: none;
    }
    .txt-logo
    {
      display: none;
    }
    h1
    {
      position: absolute;
      color: white;
      text-align: center;
      left: 250px;
      top: 200px;
      font-size: 36px;
    }
    .txt
    {
      position: absolute;
      left:80px;
      top: 280px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      word-spacing: 8px;
      margin-bottom: 20px;
    }
}
