<div class="main d-flex flex-column justify-content-center">
  <h1>Partenerii noștri</h1>
  <section class="parteneri slider d-flex flex-row justify-content-around">
    <div class="slide"><i><object data="assets/icons/partener1.svg" type="image/svg+xml"></object></i></div>
    <div class="slide"><i><object data="assets/icons/partener2.svg" type="image/svg+xml"></object></i></div>
    <div class="slide"><i><object data="assets/icons/partener3.svg" type="image/svg+xml"></object></i></div>
    <div class="slide"><i><object data="assets/icons/partener4.svg" type="image/svg+xml"></object></i></div>
    <div class="slide"><i><object data="assets/icons/partener5.svg" type="image/svg+xml"></object></i></div>
    <div class="slide"><i><object data="assets/icons/partener6.svg" type="image/svg+xml"></object></i></div>
  </section>
</div>
