.main
{
  width: 1920px;
  height: 382px;
}
h1
{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 36px;
}
object
{
  width: 152.72px;
  height: 79.48px;
}
.parteneri
{
  margin-left: 330px;
  margin-right: 330px;
  margin-bottom: 115px;
}
