img
{
  position: relative;
  width: 1920px;
  height: 500px;
}
.navbar
{
  position: absolute;
  top: 60px;
  right: -150px;
  font-size: 16px;
}
.navbar-nav > li{
  padding-left:40px;
}
nav .navbar-nav li a{
  color: white;
  text-decoration: none;
}
.dropdown
{
  margin-top: -7px;
}
.dropdown-item
{
  color: black !important;
}
.logo-img
{
  position: absolute;
  width: 43px;
  height: 63px;
  left: 300px;
  top: 40px;
}
.txt4
{
  position: absolute;
  color: white;
  left: 360px;
  top: 50px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}
.txt-logo
{
  font-size: 14px;
}
h1
{
  position: absolute;
  color: white;
  text-align: center;
  left: 861px;
  top: 229px;
  font-size: 36px;
}
