<div class="bgcolor">
  <table class="d-flex flex-column">
    <h1>Specificații</h1>
    <tr class="d-flex flex-column">
      <th>
        <h3>Partea vizuala</h3>
      </th>
      <td>
        <ul class="txt1">
          <li>Afișare site web pe monitoare și afișaje de smartphone-uri / tablete de la 320px la 1920px</li>
          <li>Garantarea funcționării corecte a site-ului în browserele Safari, Google Chrome, Mozilla Firefox, Edge și Internet Explorer 11</li>
        </ul>
      </td>
    </tr>
    <tr class="d-flex flex-column justify-content-around">
      <th>
        <h3>Partea tehnica</h3>
      </th>
      <div class="d-flex flex-row">
        <td>
          <ul>
            <li>Codul frontend este pe deplin conform cu <br> standardele W3C</li>
            <br>
            <li>Timp de generare a paginii 50-300ms (mediu, <br> depinde de mulți parametri, inclusiv server, <br> încărcare, număr de elemente de pe pagină).</li>
            <br>
            <li>Consum mediu de memorie pe cerere - 16 MB</li>
          </ul>
        </td>
        <td>
          <ul class="text">
            <li>
            Tehnologii utilizate:
            <div>
              <p>- Framework Laravel</p>
              <p>- PHP 7.2 și versiuni ulterioare</p>
              <p>- Nginx/Apache</p>
              <p>- Git и Сomposer</p>
              <p>- MariaDB 10+</p>
            </div>
            </li>
          </ul>
        </td>
        <td>
          <img src="./assets/images/img_specificatii.png" alt="">
        </td>
      </div>
    </tr>
  </table>
</div>
