.bgcolor
{
  background-color: #F5F5F5;
  padding-left: 300px;
  display: flex;
  justify-items: center;
  width: 1920px;
  height: 630px;
}
table
{
 padding-left: 100px;
}
h1
{
  text-align: center;
  padding: 50px;
  font-size: 36px;
}
h3
{
  font-size: 24px;
  font-weight: 600;
  padding-left: 10px;
}
li
{
  font-size: 16px;
}

ul {
  list-style-image: url(../../../../assets/icons/tick.svg);
}
img
{
  width: 400px;
  height: 300px;
  padding-left:50px;
  padding-bottom: 100px;
}
.txt1
{
line-height: 45px;
}
.text{
  line-height: 22px;
  padding-left: 100px;
}
.padding
{
  padding-left: 50px;
}

.line-height
{
  line-height: 40px;
}
